#!/bin/bash
export TSD_EXPORTDIR=/workspaces/outside/import/
export TSD_IMPORTDIR=/workspaces/inside/import/
export WORLD_IMPORTDIR=/workspaces/outside/import/

export AIRGAP_HOSTREGEX="^.+\.tsd\.usit\.no"

export TSD_LINKID="xxx-xxx-xxxx"
export TSD_SECRET="aaa bbb"